* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobile-container {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2vh 3vw;
  background: #FFFFFF;
}
.wrapper > .logo {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 2.25rem;
  color: #323264;
}
.wrapper > .logo .red {
  color: #F0145A;
}
.wrapper > .logo svg path {
  fill: #323264;
}
.wrapper > .logo svg .h path {
  fill: #F0145A;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 3vw;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  color: #B3B3BA;
}

.lang {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.lang .item {
  padding: 0.5rem 0.5rem;
}
.lang .item--selected {
  background: #F0145A;
  border-radius: 8px;
  color: #FFFFFF;
}

.contacts {
  color: #B3B3BA;
  display: flex;
  gap: 3vw;
  align-items: center;
}
.contacts .item {
  list-style-type: disc;
}
.contacts .item svg path {
  fill: #B3B3BA;
}

.pages {
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  gap: 3vw;
  justify-content: flex-end;
}
.pages a {
  color: #24A3FF;
  text-decoration: none;
}
.pages > .item--selected a {
  color: #F0145A;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3vh;
}

.message {
  background: #F5F5FA;
  border-radius: 12px;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
.message .heading {
  font-weight: 700;
  font-size: 2.312rem;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.message ::-moz-placeholder {
  color: #B3B3BA;
}
.message ::placeholder {
  color: #B3B3BA;
}
.message .how {
  color: #B3B3BA;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}
.message input {
  padding: 1vw 1vw;
  border: none;
  border-radius: 8px;
}
.message input:focus {
  border-color: #24A3FF;
  background-color: #FFFFFF;
}
.message input:invalid {
  border: 1px solid #FF0000;
}
.message .big {
  padding: 3vw 1vw;
}
.message .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #24A3FF;
  padding: 2vw 5vw;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
.message .btn:hover {
  background: #0085FF;
}
.message .btn:active {
  background: #006CCF;
}

.adress,
.phone,
.mail {
  font-weight: 400;
  font-size: 1.312rem;
  color: #323264;
}

.mail {
  color: #24A3FF;
  border-bottom: 2px solid #E6E6F0;
  padding-bottom: 2vh;
}

.social {
  display: flex;
  gap: 0.5rem;
}
.social svg path {
  fill: #24A3FF;
}
.social .text {
  color: #24A3FF;
  font-weight: 700;
  font-size: 0.75rem;
}
.social :hover svg path {
  fill: #F0145A;
}
.social :hover .text {
  color: #F0145A;
}

.adress {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
.adress > .phone {
  border-top: 2px solid #E6E6F0;
  padding-top: 2vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 3vw;
  background: #F5F5FA;
  margin-top: 3vw;
}
.footer .top,
.footer .bottom {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.box .dot {
  width: 5px;
  height: 5px;
  background-color: #B3B3BA;
  border-radius: 50px;
}
.box .top {
  font-weight: 400;
  font-size: 0.875rem;
  color: #323264;
}
.box .map {
  font-weight: 700;
  font-size: 0.75rem;
  color: #24A3FF;
  text-transform: uppercase;
}
.box .phone {
  font-weight: 700;
  font-size: 1rem;
  color: #46466E;
}

.aside {
  font-weight: 400;
  font-size: 1rem;
  color: #B3B3BA;
}

@media screen and (max-width: 912px) {
  .columns {
    flex-direction: column;
    padding: 5vw 5vw;
    gap: 3rem;
  }
  .footer {
    display: flex;
    padding: 3vw;
    background: #F5F5FA;
    margin-top: 3vw;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .wrapper {
    display: flex;
    padding: 2vh 3vw;
    background: #FFFFFF;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 414px) {
  .footer .bottom,
  .footer .top {
    flex-direction: column;
  }
  .footer .dot {
    display: none;
  }
  .wrapper {
    display: none;
  }
  .mobile-container {
    color: white;
    border-radius: 10px;
    display: block;
  }
  .logo {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
    color: #323264;
  }
  .logo .red {
    color: #F0145A;
  }
  .topnav {
    overflow: hidden;
    position: relative;
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border: 1px solid black;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .active {
    color: white;
  }
  .top-panel {
    justify-content: space-around;
    align-items: center;
    gap: 10vw;
    background: #F5F5FA;
    opacity: 0.8;
    height: 5vh;
  }
  .contacts > .item {
    list-style-type: none;
  }
}/*# sourceMappingURL=contact.css.map */