* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background: #F5F5FA;
}

.mobile-container {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2vh 3vw;
  background: #FFFFFF;
}
.wrapper > .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 2.25rem;
  color: #323264;
}
.wrapper > .logo svg path {
  fill: #323264;
}
.wrapper > .logo svg .h path {
  fill: #F0145A;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 3vw;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3vw;
  color: #B3B3BA;
}

.lang {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.lang .item {
  padding: 0.5rem 0.5rem;
}
.lang .item--selected {
  background: #F0145A;
  border-radius: 8px;
  color: #FFFFFF;
}

.contacts {
  color: #B3B3BA;
  display: flex;
  gap: 3vw;
  align-items: center;
}
.contacts .item {
  list-style-type: disc;
}
.contacts .item svg path {
  fill: #B3B3BA;
}

.pages {
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  gap: 3vw;
  justify-content: flex-end;
}
.pages a {
  color: #24A3FF;
  text-decoration: none;
}
.pages > .item--selected a {
  color: #F0145A;
}

.switch {
  font-weight: 700;
  font-size: 1rem;
  color: #323264;
  background: #E6E6F0;
  width: 14.56rem;
  height: 2.625rem;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-radius: 12px;
}
.switch .btn {
  border: none;
  border-radius: 12px;
  padding-right: 2rem;
  cursor: pointer;
}
.switch .btn--selected {
  cursor: pointer;
  width: 50%;
  height: 90%;
  background: #FFFFFF;
  border-radius: 12px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publications {
  padding: 2vw 8vw;
}
.publications .link,
.publications .text {
  padding-bottom: 2vw;
}
.publications .heading {
  display: inline-block;
}
.publications .window {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4vw;
}
.publications .window .area {
  padding: 1vw;
}
.publications .window .item {
  background: #FFFFFF;
  max-width: 26.25rem;
  border-radius: 8px;
  max-width: 26.25rem;
  background: #FFFFFF;
}
.publications .window .item img {
  max-width: 100%;
}
.publications .window .item .heading {
  font-weight: 700;
  font-size: 1rem;
  color: #24A3FF;
}
.publications .window .item .date {
  font-weight: 700;
  font-size: 0.75rem;
  color: #B3B3BA;
}
.publications .window .item .preview {
  font-weight: 400;
  font-size: 0.875rem;
  color: #000000;
}
.publications .window .item .heading,
.publications .window .item .date {
  padding-bottom: 2vh;
}
.publications .more {
  border: none;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 18px 30px;
  gap: 10px;
  width: 211px;
  height: 56px;
  font-weight: 700;
  font-size: 0.875rem;
  color: #FFFFFF;
  margin: 3vw auto;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 3vw 3vw;
  border-top: #E6E6F0 2px solid;
  padding: 3vw;
}
.footer .top,
.footer .bottom {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.box .dot {
  width: 5px;
  height: 5px;
  background-color: #B3B3BA;
  border-radius: 50px;
}
.box .top {
  font-weight: 400;
  font-size: 0.875rem;
  color: #323264;
}
.box .map {
  font-weight: 700;
  font-size: 0.75rem;
  color: #24A3FF;
  text-transform: uppercase;
}
.box .phone {
  font-weight: 700;
  font-size: 1rem;
  color: #46466E;
}

.aside {
  font-weight: 400;
  font-size: 1rem;
  color: #B3B3BA;
}

@media screen and (max-width: 912px) {
  .columns {
    flex-direction: column;
    padding: 5vw 5vw;
    gap: 3rem;
  }
  .footer {
    display: flex;
    padding: 3vw;
    background: #F5F5FA;
    margin-top: 3vw;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .wrapper {
    display: flex;
    padding: 2vh 3vw;
    background: #FFFFFF;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 520px) {
  .wrapper {
    display: none;
  }
  .footer .bottom,
  .footer .top {
    flex-direction: column;
  }
  .footer .dot {
    display: none;
  }
  .box {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  .box .dot {
    width: 5px;
    height: 5px;
    background-color: #B3B3BA;
    border-radius: 50px;
  }
  .box .top {
    font-weight: 400;
    font-size: 0.875rem;
    color: #323264;
  }
  .box .map {
    font-weight: 700;
    font-size: 0.75rem;
    color: #24A3FF;
    text-transform: uppercase;
  }
  .box .phone {
    font-weight: 700;
    font-size: 1rem;
    color: #46466E;
  }
  .mobile-container {
    color: white;
    border-radius: 10px;
    display: block;
  }
  .logo {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
    color: #323264;
  }
  .logo .red {
    color: #F0145A;
  }
  .topnav {
    overflow: hidden;
    position: relative;
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border: 1px solid black;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .active {
    color: white;
  }
  .contacts > .item {
    list-style-type: none;
  }
}/*# sourceMappingURL=publications.css.map */